groups:
  - name: chat4all.alerts
    rules:
      - alert: RedisDown
        expr: up{job="redis"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Redis is down"
          description: "Redis exporter is down for more than 1m."

      - alert: MongoDown
        expr: up{job="mongo"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "MongoDB exporter down"
          description: "Mongo exporter not reachable."

      - alert: ApiHighErrorRate
        expr: increase(http_requests_total{job="api_frontend",code=~"5.."}[5m]) > 5
        for: 2m
        labels:
          severity: high
        annotations:
          summary: "API returning many 5xx"
          description: "High number of HTTP 5xx in last 5m."

      - alert: WorkerDLQGrowth
        expr: increase(kafka_produced_messages_total{topic="deadletters"}[5m]) > 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Deadletter queue growing"
          description: "Messages being pushed to deadletters topic."

      - alert: KafkaDown
        expr: up{job="kafka_jmx"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Kafka JMX exporter down"
          description: "Kafka metrics not scraped."
